<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <title>Index</title>
    </head>

    <style>
        div.chat-room-wrapper div.chat-room div.message-display-container {
            max-width: 400px;
            background-color: bisque;
            height: 400px;
        }
    </style>

    <body>
        <div class="chat-room-wrapper">
            <div class="chat-room">
                <div class="message-display-container"></div>
                <div class="message-input-box">
                    <input type="text" class="message-input" placeholder="Write something ...">
                    <button class="sending-btn">Send</button>
                </div>
            </div>
        </div>

        {{ room_code|json_script:"room-code" }}

        <script>
            const roomCode = JSON.parse(document.getElementById('room-code').textContent);
            const messageContainer = document.querySelector(".message-display-container");
            
            // set up websocket connection to an certain url
            const chatSocket = new WebSocket(
                `ws://${window.location.host}/ws/chat/${roomCode}/`
            );

            console.log(window.location.host);

            // send message went someone joins in the room
            chatSocket.addEventListener("open", function(event) {
                chatSocket.send(JSON.stringify({
                    "message": "Hello the room"
                }));
            });

            chatSocket.addEventListener("close", function(event) {
                chatSocket.send(JSON.stringify({
                    "message": "Closse the room"
                }));
            });

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                var div = document.createElement("div");
                var p = document.createElement("p");
                div.append(p);
                p.append(data.message);
                messageContainer.append(div);
            }

            // send the message back to the server side
            document.querySelector(".sending-btn").onclick = function(e) {
                const messageInput = document.querySelector(".message-input");
                chatSocket.send(JSON.stringify({
                    'message': messageInput.value
                }));
                messageInput.value = "";
            };

        </script>
    </body>
</html>